<div class="gallery-post-template-skin1">
	<div class="cherry-projects-single__header">
		%%TITLE%%
		<div class="cherry-projects-single-meta entry-meta">
			%%TERMSLIST type="projects_category"%%
		</div>
	</div>
	%%SLIDER size="monstroid2-thumb-1355-1020" height="700" thumbnails-width="200" thumbnails-height="127" distance="0" scale-mode="cover"%%
	<div class="cherry-projects-single__content">
		<div class="row">
		<div class="col-xs-12 col-md-12 col-xl-7">
			%%CONTENT%%
<a class="header-btn btn btn-default" href="http://beta.fineartbox.ru/application-for-calculation/">Запросить стоимость &gt;</a>
		</div>
			<div class="col-xs-12 col-md-12 col-xl-5">

				%%DETAILSLIST%%
				%%SKILLSLIST%%
			</div>

		</div>
	</div>
</div>
